<div id="calendar-view">

  <select id="calendar-month-selector">
  <% service.build_month_selector_options.each_with_index do |(opt_val, opt_text), index| %>
      <option value="<%=opt_val%>" <%='selected="selected"' if index == 6%>><%=opt_text%></option>
  <% end %>
  </select>
  <%= link_to '<button> < </button>'.html_safe, calendar_path(sites: service.sites_type, date: (service.start_date - 1.month).strftime('%Y-%m')) %>
  <%= link_to '<button> > </button>'.html_safe, calendar_path(sites: service.sites_type, date: (service.start_date + 1.month).strftime('%Y-%m')) %>
  <%= link_to "<button> Ver #{service.sites_type == :cdm ? 'Sitios Camping' : 'CDMs'} misma fecha </button>".html_safe, calendar_path(sites: service.other_sites_type, date: service.start_date.strftime('%Y-%m')) %>

  <div id="main-matrix-container">
    <% service.grouped_sites.each do |site_group| %>
      <div class="site-group-matrix-container">
        <% service.grouped_days.each do |days| %>
          <%= render partial: 'week_matrix', locals: { service: service, sites: site_group, days: days } %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
