<div class="main-form">
  <%= semantic_form_for resource, url: orders_path do |f| %>
      <%= f.inputs name: 'Huésped' do %>
          <%= f.input :guest_id, as: :search_select, label: Guest.human_attribute_name(:name), url: guests_path, fields: [:name, :email], display_name: :display_name, minimum_input_length: 2, class: 'base-field-input' %>
          <%= f.semantic_fields_for :guest do |gf| %>
              <%= gf.input :name, :wrapper_html => { :style => 'display:none;' }  %>
              <%= gf.input :email, label: Guest.human_attribute_name(:email) %>
              <%= gf.input :phone, label: Guest.human_attribute_name(:phone) %>
          <% end %>
      <% end %>

      <%= f.inputs name: 'Orden' do %>
        <%= f.input :tag, label: 'Tag' %>
      <% end %>

      <div class="hidden-reserve-form-mold" style="display: none;">
        <%= render partial: 'reserve_sub_form', locals: { f: f }%>
      </div>

      <div class="visible-reserve-forms-container">
        <!--forms are added by JS-->
      </div>

      <button type="button" id="add-reserve-button" onclick="addReserveForm();">+ Reserva</button>
      <%=f.submit%>
  <%end%>
</div>